# Prism Central Credentials
NUTANIX_USERNAME=
NUTANIX_PASSWORD=
NUTANIX_ENDPOINT=
NUTANIX_PORT=9440
NUTANIX_INSECURE=false

# NCM Self-Service Settings
CALM_DSL_DEFAULT_PROJECT=

# Packer Settings
PKR_VAR_SOURCE_IMAGE_NAME=
PKR_VAR_NUTANIX_CLUSTER=
PKR_VAR_NUTANIX_SUBNET=

# CAPI Settings
EXP_CLUSTER_RESOURCE_SET=true
KUBERNETES_VERSION=
NUTANIX_SSH_AUTHORIZED_KEY=
WORKER_MACHINE_COUNT=2
NUTANIX_PRISM_ELEMENT_CLUSTER_NAME=
NUTANIX_MACHINE_TEMPLATE_IMAGE_NAME=
NUTANIX_SUBNET_NAME=
